asgiref==3.9.1
Django==5.2.5
joblib==1.5.2
nltk==3.9.1
numpy==2.3.2
scikit-learn==1.7.1
scipy==1.16.1
sqlparse==0.5.3
threadpoolctl==3.6.0
tzdata==2025.2
click==8.2.1
regex==2025.8.29
tqdm==4.67.1
gunicorn
whitenoise
